/* CSS styles for the logo */
.logo {
    text-align: center;
  }

/* CSS styles for the second table */
#second-table {
    border-collapse: collapse;
    width: 100%;
    font-family: "Comic Sans MS", cursive;
    margin-top: 20px;
  }
  
  #second-table th {
    background-color: rgb(134, 223, 252);
    color: white;
    padding: 8px;
    text-align: center;
  }
  
  #second-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  